<template name="home">

  <div class="container">

      <button id="btn_new_query">New Query</button>

      <h2>
          Query List
      </h2>
      <div class="list-group">
          {{#each queries}}
            {{> query_short_template}}
          {{/each}}
      </div>
      {{#with selected_query}}
        {{> query_edit_template}}
      {{/with}}

      Query Results : <br/>
      {{#each psqlresults}}
        {{companyname}}<br/>
      {{/each}}

  </div>
</template>


<template name="query_short_template">
    <a href="#" class="list-group-item" id="btn_select_query">
        <div class="row">
            <div class="col-md-6">{{name}}</div>
            <div class="col-md-6 text-right">
                <button id="btn_delete_query">Delete</button>
                <button id="btn_run_query">==> Run</button>
            </div>
        </div>
    </a>
</template>
