<head>
  <title>Query tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <div class="panel panel-default">
  {{> loginButtons}}login
</div>
  <section id="webix_content" style="width:100%;height:600px;"> </section>
  <!--
  <section id="webix_queries_div" style="width:100%;height:400px;">  </section>
  <section id="webix_queryresult_div" style="width:100%;height:400px;">  </section>
-->
</body>

<template name="layout">
  {{> yield}}
</template>
